<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093729857890-nc9aekh8eiupti0d92gk2j3icmqdc895.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093729857890-nc9aekh8eiupti0d92gk2j3icmqdc895</string>
	<key>API_KEY</key>
	<string>AIzaSyDpC1WixNwpSr9KJuyKNrQvFmT7J7YlQhE</string>
	<key>GCM_SENDER_ID</key>
	<string>1093729857890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sap.InsightforgeX</string>
	<key>PROJECT_ID</key>
	<string>insightforgexauth</string>
	<key>STORAGE_BUCKET</key>
	<string>insightforgexauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093729857890:ios:9c2cecbe9a06e5ad527c3b</string>
</dict>
</plist>